.card {
  box-sizing: border-box;
  border: 5px solid teal;
  border-radius: 5px;
  padding: 10px;
  background-color: #FFFFFF;
  width: 16vw;
  color: teal;
}

button {
  background-color: teal;
  color: #FFFFFF;
  width: 12vw;
  height: 4vh;
}
